



{% extends "base.html" %}



{% block content %} 

<div class="register">
    <div class="container">
       <div class="row">
           <div class="col-lg-7 col-md-6">
                <div class="ditk-inf sup-oi">
                     <h2 class="w-100">We are the Best <br>E-Commerce Platform for You</h2>
                     <ul>
                        <li><i class="fas fa-check"></i>We Have Very Higt Quality</li>
                        <li><i class="fas fa-check"></i> You Can find Anything With US </li>
                     </ul>
                     
                 </div> 
            </div>
            <div class="col-lg-5 col-md-6 ">
                <div class="register-box">
                    <h2> Reset Password</h2>
                    {% include 'includes/alerts.html' %}
                    <form action="{% url 'accounts:forgotPassword' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email Address"  name="email" required>
                         </div>
                   
                
                
                  
                    <div class="row form-row">
                        <div class="col-md-4">
                           
                        </div>
                        <div class="col-md-8" style="margin-right: -45px;margin-left: 25px;">
                            <button type="submit" class="btn btn-outline-warning"> Submit</button>
                        </div>
                    </div>
                    </form>
                </div>
                
            </div>
       </div>
    </div>
</div>


{% endblock content %}