{% extends "base2.html" %}


{% block seller %}

{% include "n_f_dash/status.html" %}
<div class="row">
  <div class="card text-center col-6">
    <div class="card-header">
      Productsc - EGP
    </div>
    <div class="card-body">
      <p class="card-text"><canvas id="myChart" style="width:100%;"></canvas></p>
  
    </div>
    <div class="card-footer text-muted">
      Aya Food-Ecommerce
    </div>
  </div>
  
  
  <div class="card text-center col-6">
    <div class="card-header">
      Area Profits - EGP
    </div>
    <div class="card-body">
     
      <p class="card-text"><canvas id="mymezo" style="width:100%;max-width:100%"></canvas></p>
      
    </div>
    <div class="card-footer text-muted">
      Aya Food-Ecommerce
    </div>
  </div>
  </div>
  
  
  
{% endblock %}