{% extends "base2.html" %}



{% block seller %}


{% include "n_f_dash/status.html" %}
<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
    <article class="card-body">
      <hgroup>
          <h1 style="padding-bottom: 100px;margin-bottom: -56px; padding-left:121px;" class="center">Order Update </h1>
        </hgroup>
  
        <div>
  
    <form  method="POST" enctype="multipart/form-data" >
      {% csrf_token %}
      <div class="cart-body">
        {{form.as_p}}
  
      </div>
  
      </div class="cart-footer">
      <button type="submit" class="btn btn-outline-warning" style="margin-left:42%;">Update</button>
  </div>
    </form>
  </div>
  </div>
  </div>
  
  

{% endblock seller %}





